# IDEs and editors
.project
.classpath
*.launch
.settings/
com.springsource.sts.config.flow.prefs
org.sonar.ide.eclipse.core.prefs
HybrisCodeGeneration.launch
org.springframework.ide.eclipse.beans.core.prefs
org.springframework.ide.eclipse.core.prefs
.springBeans

# ignore temporary folders
hybris/roles/
hybris/log/
hybris/temp/
hybris/data/

# ignore developer specific configuration
hybris/config/local.properties
hybris/config/local-config/[8-9][0-9]-local.properties
hybris/config/licence/installedSaplicenses.properties
hybris/config/solr/instances/default/configsets

# ignore platform and module extension
hybris/bin/platform/
hybris/bin/modules/

# ignore lib folders in custom extension
hybris/bin/custom/**/lib

# ignore compiled and generated output
classes
testclasses
eclipsebin
gensrc
*.class
build.xml
Generated*.java
platformhome.properties
*testclasses.xml
extensioninfo.xsd
*hmc.jar
hmc.xsd
items.xsd
beans.xsd
ruleset.xml
*.log
.pmd
*build.number
base.properties
*_bof.jar
/build/
/cloud-extension-pack/

# ignore addon specific copy folders
**/_ui/addons
**/views/addons
**/tld/addons
**/tags/addons
**/messages/addons
**/lib/addons
**/web/addonsrc
**/_ui-src/addons
**/web/addontestsrc
**/web/commonwebsrc/*/
**/web/webroot/WEB-INF/lib/addon-*
wro_addons.xml
